body {
    text-align: center;
    background-image: linear-gradient(yellow,orange,pink);
}

#one,#two,#third,#fourth,#fifth,#sixth{
    height: 300;
    width: 300;
}

#Logo {
width: 800px;
height: 563px;
}

img {
    width: 350px;
}

.dogs{
    display: inline;

    }


#mycarousel img {
    height: 50px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
   
}
